<h1>Interface professeur</h1>



<button (click)="addQuiz()">Add Quiz</button>

<div *ngIf="show">

  <h3>Formulaire</h3>

  <form (ngSubmit)="submitQuiz(f)" #f="ngForm">
<div class="form-group">



  <label>Categorie
    <input type="text"  name="categorie" ngModel>
  </label>


  <div *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]">

    <label>
      question {{i+1}}:
      <input type="text" name="question{{i+1}}" id="question{{i + 1}}"  ngModel>
    </label>
    <label >answer {{i+1}} :
      <input type="text" name="answer{{i+1}}"    id="answer{{i+ 1}}"   ngModel></label>
    <!--<button (click)="disableInput(i)">Valider</button>-->

  </div>

  <button type="submit">Submit quiz</button>

</div>

  </form>





  <button  routerLink="/myquizs">Mes quizs</button>



</div>

