<h1>Interface professeur</h1>



<button (click)="addQuiz()">Add Quiz</button>

<div *ngIf="show">

  <h3>Formulaire</h3>

  <label >Categorie: </label>
  <input type="text" #categorie>

  <br><br>
  <label >Question 1 :  </label>
  <input type="text" #q1>
  <label >Answer 1 :  </label>
  <input type="text" #a1>
  <br>
  <label >Question 2 : </label>
  <input type="text" #q2>
  <label >Answer 2 : </label>
  <input type="text" #a2>
  <br>
  <label >Question 3 : </label>
  <input type="text" #q3>
  <label >Answer 3 : </label>
  <input type="text" #a3>

  <br>
  <label >Question 4: </label>
  <input type="text" #q4>
  <label >Answer 4: </label>
  <input type="text" #a4>


  <br>
  <label >Question 5 : </label>
  <input type="text" #q5>
  <label >Answer 5 : </label>
  <input type="text" #a5>

  <br>
  <label >Question 6 : </label>
  <input type="text" #q6>
  <label >Answer 6 : </label>
  <input type="text" #a6>

  <br>
  <label >Question 7 : </label>
  <input type="text" #q7>
  <label >Answer 7 : </label>
  <input type="text" #a7>

  <br>
  <label >Question 8: </label>
  <input type="text" #q8>
  <label >Answer 8: </label>
  <input type="text" #a8>

  <br>
  <label >Question 9 :</label>
  <input type="text" #q9>
  <label >Answer 9 :</label>
  <input type="text" #a9>
  <br>
  <label >Question 10</label>
  <input type="text" #q10>
<label >Answer 10</label>
  <input type="text" #a10>

  <br>
<button color="primary" (click)="submitQuiz(q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10)">Submit Quiz</button>

</div>

