








<div style="margin: 50px">

<nav aria-label="breadcrumb" role="navigation" >
<ol class="breadcrumb">
  <li class="breadcrumb-item active " aria-current="page">
    <div class="container">
      <div class="row">
        <div class="col-md-8">

          <h5 > Last Login : {{ log | date}} {{ log| date:'shortTime' }}</h5>
        </div>
        <div class="col-md-4">


          <h4 class="text-right" style="margin-right: 20px  ">  USER : {{ userName}}</h4>

        </div>
      </div>
    </div>

  </li>
</ol>
</nav>



  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pass Exam </a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">History</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">






      <nav aria-label="breadcrumb" role="navigation" >
        <ol class="breadcrumb">
          <li class="breadcrumb-item active " aria-current="page">
            <div class="container">
              <div class="row">
                <div class="col-md-10">



                  <form>
                    <SELECT name="nom" size="1" #selectElem>
                      <OPTION *ngFor="let c of categorie" >{{c}}</OPTION>
                    </SELECT>

                  </form>


                  <!--<div class="dropdown">-->
                  <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                  <!--Choose category-->
                  <!--</button>-->
                  <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                  <!--<a class="dropdown-item" ngFor="let c of categorie">{{c}}</a>-->
                  <!---->
                  <!--</div>-->
                  <!--</div>-->
                  <!---->



                </div>
                <div class="col-md-2">


                  <button class="btn btn-warning" (click)="selectQuizByCategorie(selectElem.value)">Confirm category</button>



                </div>
              </div>
            </div>

          </li>
        </ol>
      </nav>


      <div *ngFor="let i of compteur " style="text-align: center"   >
        <button class="btn btn-primary"  (click)="getQuizs(i-1)">Quiz {{i}}</button>
      </div>
      <div *ngIf="data !== undefined">

        <div *ngIf="showQuestions" class="card" style="text-align: center">
          <div class="card-body">
            <div *ngIf="examsVisible">
              <h4 class="card-title"> PASS EXAM</h4>

              <p class="card-text">La question {{idQuestion + 1}} est : {{data[0][idQuestion]}} </p>

              <form>

                <input type="radio" name="answer"  id="true" value="true" checked #res1 lass="card-link" > True
                <input type="radio" name="answer" id="false" value="false" #res2 > False

              </form>
            </div>
            <div *ngIf="!examsVisible">
              <h3> You have 1 minute in each question </h3>
              <h5>Press Start exam when you are ready</h5>
            </div>

            <button (click)="nextQuestion(idQuestion,quizId,res)" *ngIf="showinputnextquestion"lass="card-link" >Next Question</button>
            <button class="btn btn-danger" (click)="startExam(5,idQuestion)" *ngIf="hideButtonCount" lass="card-link">Commencer l'examen</button>
          </div>
        </div>




<div *ngIf="examsVisible" style="text-align: center">
  <h2>Votre score est : </h2>
  <h3>{{globalNote}}</h3>

</div>
<div *ngIf="activeFailedMessage">
<h3>{{failedMessage}}</h3>

</div>


      </div>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">



      <div *ngIf="showExams" class="card" style="margin: 10px; padding: 10px">
        <div  *ngFor="let exam of exams">

          <ul>

            <div class="container">
              <div class="row">
                <div class="col-md-6">




                  <p>
                    <button class="btn btn-primary btn-block" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      {{exam.quizTitle }}    Passer le : {{ exam.datePass | date}} {{ exam.datePass| date:'shortTime' }}
                    </button>

                  </p>
                  <div class="collapse" id="collapseExample">
                    <div >
                      <div class="card" style="width: 20rem;" >

                        <ul class="list-group list-group-flush" *ngFor="let k of [exam.quest1,exam.quest2,exam.quest3,exam.quest4,exam.quest5,exam.quest6,exam.quest7,exam.quest8,exam.quest9,exam.quest10]">
                          <li class="list-group-item" style=" height: 60px"> >{{k}}</li>
                        </ul>

                      </div>
                    </div>
                  </div>





                </div>
                <div class="col-md-6" >


                  <div>


                    <p>

                      <button class="btn btn-primary btn-block" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                        Montrer vos réponses
                      </button>
                    </p>
                    <div class="collapse" id="collapseExample2">
                      <div >

                        <div  class="card" style="width: 20rem;" >

                          <ul class="list-group list-group-flush" *ngFor="let myRes of [exam.res1,exam.res1,exam.res3,exam.res4,exam.res5,exam.res6,exam.res7,exam.res8,exam.res9,exam.res10] ">
                            <li class="list-group-item" style=" height: 60px">{{myRes}}</li>
                          </ul>

                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>







          </ul>




        </div>


      </div>


    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>





</div>




