<h1>Test Countdown</h1>
<p id="count"></p>
<input type="text" id="input1">
<input type="text" id="input2">

QuizID :<input type="text" [(ngModel)]="quizId">
<button (click)="getQuizs(quizId)">Test me  </button>
<!--<div *ngFor="let d of data">-->
<!--{{d }}-->
<!--</div>-->

<div *ngIf="data !== undefined">


<div *ngIf="showQuestions">
  <p>La question {{idQuestion + 1}} est : {{data[quizId][idQuestion]}} </p>
  <input type="text" [(ngModel)]="res"  >
  <p> La reponse {{idQuestion + 1}} est  : {{data[quizId][idQuestion]}}</p>
  <button (click)="nextQuestion(idQuestion,quizId,res)">Next Question</button>
  <button (click)="countDown(5,idQuestion)">Activer le countDown</button>
  {{test}}
  {{timeout}}

</div>



  <h2>Votre score est : </h2>
  <h3>{{globalNote}}</h3>
</div>
