<h1>Test Countdown</h1>



<div>
  <h3> {{ userName}}</h3>
  <h3 > {{ log | date}} -- {{ log| date:'shortTime' }}</h3>
</div>



<FORM>
  <SELECT name="nom" size="1" #selectElem>
    <OPTION *ngFor="let c of categorie" >{{c}}</OPTION>
  </SELECT>

</FORM>
<button (click)="selectQuizByCategorie(selectElem.value)">Test</button>




<button *ngFor="let i of compteur " (click)="getQuizs(i-1)">Quiz {{i}}</button>







<div *ngIf="data !== undefined">

  <div *ngIf="showQuestions">
  <p>La question {{idQuestion + 1}} est : {{data[0][idQuestion]}} </p>
    <form >

      <input type="radio" name="answer"  id="true" value="true" checked #res1 > True <br>
      <input type="radio" name="answer" id="false" value="false" #res2 > False

    </form>

  <p> La reponse {{idQuestion + 1}} est  : {{data[1][idQuestion]}}</p>
  <button (click)="nextQuestion(idQuestion,quizId,res)">Next Question</button>
  <button (click)="countDown(5,idQuestion)" >Activer le countDown</button>
  {{test}}
  {{timeout}}

  <p>THis is a tesst {{data}}</p>

</div>



  <h2>Votre score est : </h2>
  <h3>{{globalNote}}</h3>
</div>




<button (click)="showMyexams()">Show my exams</button>
<div *ngIf="showExams">
<div *ngFor="let exam of exams">

  <ul>
<h1>{{exam.quizTitle}}</h1>
<p>Passer a : {{ exam.datePass | date}} -- {{ exam.datePass| date:'shortTime' }}</p>
<h2>Les question </h2>
    <div *ngFor="let k of [exam.quest1,exam.quest2,exam.quest3,exam.quest4,exam.quest5,exam.quest6,exam.quest7,exam.quest8,exam.quest9,exam.quest10]">
      <li>{{k}}</li> <br>
    </div>


    <hr>
    <h2>Les reponses </h2>
    <div *ngFor="let myRes of [exam.res1,exam.res1,exam.res3,exam.res4,exam.res5,exam.res6,exam.res7,exam.res8,exam.res9,exam.res10] " >

      <li>{{myRes}}</li><br>

    </div>


  </ul>




</div>


</div>



